
:root {
  --dark-emerald: #082e31;
  --white: #fff;
  --black: #000;
  --orange: #fea000;
  --grey: #323232;
  --light-grey: #f6f6f6; 
  --emerald: #18484B;
}

.button {
  display: block;
  width: fit-content;
  padding: .5em 1em;
  border-radius: 15px;
  font-size: 1.1em;
  text-align: center;
  box-shadow: 0 .3em .7em rgba(0, 0, 0, 0.15);
}

.button img {
  height: 1.5em;
}

/* .orange.button {
  background-color: var(--orange);
  color: var(--black);
  font-weight: 600;
} */

.emerald.button {
  background-color: var(--emerald);
  color: var(--white);
  min-width: 50%;
  font-weight: 500;
}

main {
  padding: 2em 0;
  display: grid;
  grid-template-areas: 
  "detail detail"
    "recom recom"
    "desc other"
    "review other";
    grid-template-columns: 4fr 1fr;
    gap: 2rem;
}

section {
  border-radius: 20px;
  box-shadow: 0 .5em 1em rgba(0, 0, 0, 0.15);
  background-color: var(--white);
  padding: 2.5rem 2rem;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.2rem;
}

.section-title {
  margin: 0 auto;
  padding: .5rem 1rem;
  text-align: center;
}

.product-detail .section-title,
.design-recommendation .section-title, 
.other-merch .section-title {
  width: fit-content;
  font-size: 1.6em;
  font-weight: 500;
  border-bottom: 3px solid var(--black);
}

.product-description .section-title,
.product-review .section-title {
  width: 100%;
  font-size: 1.4em;
  font-weight: 600;
  letter-spacing: 1px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.15);
  color: var(--grey);
}

.product-detail {
  grid-area: detail;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

.product-detail-left,
.product-detail-right {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.product-detail-left .detail-tile {
  display: flex;
  justify-content: center;
}

.detail-tile {
  background-color: var(--light-grey);
  border-radius: 15px;
  box-shadow: 1px 2px 4px rgb(0 0 0 / 10%);
  padding: 1em;
  align-items: center;
}

.detail-image-zoomed img {
  width: 100%;
}

.product-detail-left .detail-tile {
  aspect-ratio: 1 / 1;
}

.detail-image-container {
  height: 7em;
  display: flex;
  flex-direction: row;
  gap: 1.5em;
}

.detail-image-content img{
  height: 100%;
  margin: auto;
}

.detail-image-content .detail-tile {
  height: 100%;
  padding: .5em;
}

.detail-image-content {
  text-align: center;
}

.price-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: .3em;
}

#total-price {
  font-size: 1.2em;
  font-weight: 500;
  border-top: 2px solid rgba(0, 0, 0, 0.15);
  padding-top: .5em;
  padding-bottom: 0;
}

.detail-upload {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1em;
  margin-bottom: -1em;
}

.upload-clause {
  font-size: .85em;
  margin: .6em;
  text-align: center;
  color: var(--emerald);
}

.upload.button,
.publish.button {
  display: flex;
  flex-direction: row;
  gap: 1em;
  border: 2.6px solid var(--dark-emerald);
  font-size: 1em;
}

.upload.button {
  background-color: #8ca3a5;
  color: white;
  border-color: #8ca3a5;
}

.publish.button {
  font-weight: 500;
  color: var(--dark-emerald);
}

.emerald.button.add-to-cart {
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  min-width: fit-content;
  font-size: 1em;
  padding: .7em 1em;
}

.detail-variation {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 1em;
  align-items: center;
  margin: 1em 0;
}

.detail-variation div:first-child {
  font-size: 1.1em;
  font-weight: 500;
  width: 23%;
}

.detail-variation .detail-tile {
  padding: .4em .7em;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  gap: .5em;
}

#color-box {
  background-color: #242424;
  height: 1em;
  aspect-ratio: 1 / 1;
}

#color-dropdown {
  height: 1.2em;
  padding-left: 1em;
}

#counter {
  padding: 0 .5em;
}

.design-recommendation {
  grid-area: recom;
}

.recom-container {
  width: 95%;
  display: flex;
  flex-direction: row;
  gap: 1.2em;
}

.other-container {
  width: 95%;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.recom-tile,
.other-tile {
  aspect-ratio: 3 / 4;
  overflow: hidden;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.recom-img img,
.other-img img{
  width: 100%;
  object-fit: cover;
}

.recom-detail,
.other-name {
  background-color: var(--white);
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.other-name {
  height: 15%;
  text-align: center;
  padding: 0.5em;
  font-weight: 600;
}

.recom-detail {
  height: 20%;
  padding: 0.2em 0.7em 0;
}

.recom-name {
  font-size: .8em;
  font-weight: 500;
}

.recom-info {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.recom-price {
  font-size: .7em;
  color: red;
  font-weight: 600;
}

.recom-count {
  font-size: .65em;
  color: rgba(0, 0, 0, 0.6);
}

section.product-description {
  grid-area: desc;
  gap: .5rem;
  padding: 2.5rem 3rem 1.5rem;
}

.desc-text {
  font-size: .85em;
  text-align: justify;
}

.desc-text p {
  margin: 1.5em;
}

.desc-img {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.desc-img img {
  width: 45%;
  object-fit: contain;
}

section.product-review {
  grid-area: review;
  gap: .8rem;
  padding: 2.5rem 3rem 1.5rem;
}

.review-header {
  display: grid;
  grid-template-areas: 
    "total count"
    "total tool";
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 2fr 1fr;
  gap: 1em;
  color: var(--emerald);
}

.review-header > * {
  padding: .5em 1em;
  border-radius: 10px;
  box-shadow: 1px 2px 4px rgb(0 0 0 / 10%);
}

.review-header-total {
  grid-area: total;
}

.review-header-total > * {
  margin: 0 auto;
  text-align: center;
}

.review-header-total p:first-child {
  font-size: 3em;
  line-height: 120%;
}

.review-header-total img {
  height: 1.2em;
}

.review-header-total p:last-child {
  font-size: .9em;
}

.review-header-count {
  grid-area: count;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

.review-count-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.review-count-box p {
  font-size: 1.5em;
}

.review-count-box img {
  width: 80%;
}

.review-header-tool {
  grid-area: tool;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: .85em;
}

.review-content {
  width: 100%;
}

.review-tile {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: .7rem 0;
  border-top: 2px solid rgba(0, 0, 0, 0.15);
  /* border-bottom: 2px solid rgba(0, 0, 0, 0.15); */
}

.review-tile-avatar-box img{
  height: 2rem;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.review-main-author {
  font-size: .75rem;
  color: var(--grey);
}

.review-main-star {
  margin-top: -.2em;
  margin-bottom: .3em;
}

.review-main-star img {
  height: .75rem;
}

.review-main-text {
  font-size: .9rem;
  margin-bottom: .1em;
}

.review-main-date {
  font-size: .65rem;
  color: var(--grey);
}

.review-more {
  align-self: end;
  font-size: .8rem;
  color: var(--grey);
  padding: 0 1rem;
  margin-top: -0.8rem;
}

.other-merch {
  grid-area: other;
  height: fit-content;
}

.other-merch .emerald.button {
  width: 100%;
  font-size: 1em;
  padding: .5em .5em;
  font-weight: 400;
}