.title-page > h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    padding: 1rem 2rem;
    border-bottom: 3px solid var(--grey);
    letter-spacing: .2rem;
    color: var(--grey);
    width: 50%;
    margin: 0 auto;
}

.cover-image {
    height: 20rem;
    background-color: #d3d3d3;
    margin-top: 1rem;
}

.cover-pic{
    width: 100%;
    height: 20rem;
}

.profile-image {
    position: relative;
    width: 178px;
    height: 178px;   
    top: -75px;
    left: 50px;
}

.profile-pic{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 5px solid white;
}

.profile-detail {
    position: absolute;
    display: flex;
    padding-left: 270px;
    bottom: 200px;
    justify-content: space-between;
    width: 948px;
}

.shop-name { 
    display: flex;
    gap: 0.5rem;
}

.edit-username {
    gap: 0.2rem;
    display: flex;
    position: relative;
    top: -5px;
    font-size: 12px;
    color: rgb(129, 129, 129);
    align-items: center;
}

.edit-icon img {
    width: min-content;
}

.profile-description{
    width: 50%;
}

.profile-description > h4 {
    font-weight: lighter;
}


.shop-count {
    width: 100%;
    padding-top: 2px;
    padding-bottom: 15px;
    justify-content: space-between;
    display: flex;
}

.profile-rating{
    width: 35%;
    justify-content: space-between;
    display: flex;
    align-items: flex-end;
}

.rating-title{
    align-items: center;
    padding-bottom: 20px;
}

.rating-score{
    align-items: baseline;
    display: flex;
    justify-content: center;
    color: var(--emerald);
}

.rating-point{
    justify-content: center;
}

.profile-navbar{
    display: flex;
    gap: 2em;
    justify-content: center;
    border-top: 2px solid var(--grey);
    padding-top: 2%;
}

.profile-item a:hover{
    color: var(--emerald);
    font-weight: bold;
    border-bottom: 2px solid var(--emerald);
}

.description-detail{
    display: flex;
    gap: 2em;
    justify-content: space-between;
    border-top: 2px solid var(--grey);
    padding: 2% 7% 0 7%;
}

.description-container{
    width: 60%;
}

.shop-location{
    display: flex;
    gap: 0.7rem;
}

.title-category {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--grey);
    padding: 10px;
}

.title-category img{
    height: min-content;
}

.profile-category{
    gap: 1.5rem;
    align-items: center;
    display: flex;
}

.search-bar {  
    color: slategray;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px 5px 15px;
    background-color: #f8f8f8;
    border-radius: 15px;
    border: 2px solid #a1a1a1;
}

.search-bar-container{
    gap: 5px;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-bar img{
    height: fit-content;
}

.add-product-href{
    display: flex;
    justify-content: right;
    padding-bottom: 10rem;
}

th,td {
    padding: 10px;
}

td:hover {
    background-color: #a1a1a1;
}

.section-container {
    margin-bottom: 2rem;
}

.section-container :first-child{
    overflow: hidden;
}

.track-container {
    width: 95%;
    display: flex;
    flex-direction: column;
}

.track-header {
    display: flex;
    justify-content: space-evenly;
    background-color: #87bfc3;
}

.track-title {
    color: #3F3F3F;
    font-size: 16px;
}

.track-text {
    color: #223031;
    font-size: 16px;
    font-weight: bold;
}

.track-item {
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

.collapsible {
    background-color: #59a6ac;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    font-size: 18px;
}
  
.active, .collapsible:hover {
    background-color: #3e7479;
}
  
/* tanda '+' */
.collapsible:after { 
    content: '\002B'; 
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
 
/* tanda '-' */
.active:after {
    content: "\2212";
}
  
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f8f8f8;
}

.order-item-detail {
    display: flex;
    padding: 10px 15px 10px 15px;
    margin-bottom: 15px;
    background-color: white;
    border-radius: 15px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.item-pic-det {
    display: flex;
    gap: 15px;
    align-items: center;
}

.orderSize-color {
    display: flex;
}

.item-picture {
    width: 100px;
    height: 100px; 
    padding: 5%;
    border-radius: 15px;
    background-color: #f6f6f6;
}

.item-picture img {
    width: 100%;
}

.orderItem-title {
    font-weight: bold;
    font-size: 18px;
}

.orderSize-color {
    color: #646464;
    font-size: 14px;
    gap: 10px;
}

.order-color {
    display: flex;
    align-items: center;
    gap: 5px;
}

.box-color {
    height: 12px;
    width: 12px;
    border: 1px solid black;
    background-color: #242424;
}


.order-price {
    font-weight: bold;
    font-size: 20px;
}

.track-recipient-container {
    text-align: center;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.totalOrder-item{
    display: flex;
    justify-content: space-between;
    border-top: 2px solid var(--grey);
    padding-top: 5%;
    padding-bottom: 5%;
}

.total-price {
    color: #D8571F;
    font-size: 24px;
    font-weight: bold;
}

.total-title {
    font-size: 20px;
}
