
/* ALL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
  
:root {
    --dark-emerald: #082e31;
    --white: #fff;
    --black: #000;
    --orange: #fea000;
    --grey: #323232;
    --emerald: #18484B;
}
  
html {
    scroll-behavior: smooth;
}
  
body {
    background-image: url("../Assets/background.png");
    background-position: bottom;
    background-size: cover;
    font-size: 16px;
}
  
.container {
    margin: auto;
    max-width: 1012px;
    width: 100%;
}
  

/* HEADER */

header, footer {
    color: var(--white);
}
  
header {
    background-color: var(--dark-emerald);
    padding: 2rem 0 0;

}
  
header .container,
footer .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
  
.header-left {
    display: flex;
    flex-flow: row;
    gap: 1rem;
    align-content: center;
}

.navbar {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
  
.search {
    background-color: rgba(255, 255, 255, 0.3);
    padding: .6em 1em;
    border-radius: 1em;
    font-size: .9em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
  
.search p {
    color: rgba(255, 255, 255, 0.8);
}
  
.search img {
    height: 1.8em;
    aspect-ratio: 1 / 1;
}
  
nav a {
    padding: 0.5rem .5rem 1.1rem;
    font-size: smaller;
    font-weight: 400;
    display: inline-block;
}

nav a:hover {
    background-color: var(--emerald);
}
  
.header-right .icon {
    height: 1.8rem;
    aspect-ratio: 1 / 1;
    margin: auto .5rem;
}

/* PRODUCT CATEGORY LIST : can be seen when 'Category' is hovered */

.product-category-list {
    display: none;
    color: var(--white);
    background-color: var(--black);
    position: absolute;
    top: 8rem;
    width: 100%;
    opacity: .9;
}

.product-category-list .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem 0 2rem;
}

.product-category-name {
    font-weight: 500;
    padding-bottom: .1em;
    border-bottom: 1px solid var(--white);
    margin-bottom: .4em;
}

.product-category ul {
    list-style: none;
    color: lightgray;
    font-size: .8em;
}

.product-category li {
    margin: .15em 0;
}

/* CUSTOMER SERVICE */

.customer-service {
    height: 80px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: var(--black);
    overflow: hidden;
    position: fixed;
    bottom: 10vh;
    right: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, .25);
    z-index: 1;
}

.customer-service img{
    width: 90%;
}

/* FOOTER */
  
footer {
    background-color: var(--black);
    padding: 1rem 0;
}
  
.footer-left {
    display: flex;
    flex-direction: row;
    gap: 2em;
}
  
.footer-left * {
    align-self: center;
}
  
.footer-right {
    display: flex;
    flex-direction: row;
    gap: 1em;
}
  
.footer-right * {
    align-self: center;
}
  
.social-media img {
    margin: 0 0.2em;
    height: 2rem;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    object-position: center;
}


/* COMMON FORMAT */

a {
    text-decoration: none;
    color: inherit;
}
  
img {
    object-fit: cover;
}
  
img.icon {
    object-fit: contain;
}

.McDise-logo {
    height: 5em;
  }
  